body {
  margin: 0;
  padding: 20px;

  text-align: center;

  font-family: sans-serif;

  background: #dfe6ee;
}

h1 {
  font-size: 48px;
}

.info {
  display: flex;

  justify-content: center;

  gap: 30px;

  margin-bottom: 20px;

  font-size: 24px;

  flex-wrap: wrap;
}

#gameArea {
  width: 90%;
  max-width: 1000px;

  height: 250px;

  margin: auto;

  background: white;

  border: 5px solid black;

  border-radius: 20px;

  position: relative;

  overflow: hidden;
}

/* 新幹線 */
#train {
  position: absolute;

  top: 80px;
  left: -120px;

  width: 320px;
  height: 90px;

  background: #0080ff;

  border: 5px solid #004080;

  border-radius: 45px;

  color: white;

  font-size: 30px;
  font-weight: bold;

  text-align: center;
  line-height: 90px;

  white-space: nowrap;

  box-shadow: 0 5px 10px rgba(0,0,0,0.3);

  overflow: hidden;
}

/* 窓 */
#train::before {

  content: "";

  position: absolute;

  top: 18px;
  left: 80px;

  width: 180px;
  height: 20px;

  background: white;

  border-radius: 10px;
}

/* 下ライン */
#train::after {

  content: "";

  position: absolute;

  bottom: 10px;
  left: 50px;

  width: 220px;
  height: 8px;

  background: #003366;

  border-radius: 10px;
}

/* 文字 */
.trainText {

  position: relative;

  z-index: 10;
}

#startScreen,
#gameOverScreen {

  margin-top: 60px;
}

#startScreen button {

  margin: 10px;

  padding: 15px 30px;

  font-size: 24px;

  cursor: pointer;
}

input {

  margin-top: 20px;

  padding: 10px;

  font-size: 24px;

  width: 350px;
}
