body {
  margin: 0;
  padding: 20px;
  text-align: center;
  font-family: sans-serif;
  background: #dfe6ee;
}

h1 {
  font-size: 48px;
}

.info {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
  font-size: 24px;
  flex-wrap: wrap;
}

#gameArea {
  width: 90%;
  max-width: 1000px;
  height: 250px;
  margin: auto;
  background: white;
  border: 5px solid black;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

#train {
  position: absolute;
  top: 80px;
  left: -300px;

  background: #0080ff;
  color: white;

  font-size: 40px;
  font-weight: bold;

  padding: 20px 40px;

  border-radius: 15px;

  white-space: nowrap;
}

#startScreen,
#gameOverScreen {
  margin-top: 60px;
}

#startScreen button {
  margin: 10px;
  padding: 15px 30px;
  font-size: 24px;
  cursor: pointer;
}

input {
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  width: 300px;
}

button {
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}
